package components

import (
    "github.com/minnowo/astoryofand/view"
)

templ Footer(){

    <footer class="footer-distributed">
  
        <a href={ view.SOURCE_CODE_LINK } class="footer-link link-fade">Source Code</a>

        <a href={ view.LICENSE_PAGE_LINK } class="footer-link link-fade">License</a>

    </footer>
}