@tailwind base;
@tailwind components;
@tailwind utilities;


.transition-3d {
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.perspective {
    perspective: 1000px; 
}

.rotate-y-180 {
    transform: rotateY(180deg);
}

.flip-hover:hover .flip-hover-inner {
    transform: rotateY(180deg);
}

.backface-hidden {
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}
