
:root{
    --transparent-color: rgba(0, 0, 0, 0);
    --accent-color: #f7ce6e;

    --all-link-highlight-color: #ee4864;
    --tap-highlight-color: rgba(238, 72, 100, 0);

    --nav-link-color: rgba(255, 255, 255, 0.5);
    --nav-link-highlight-color: #fff;

    --selection-color: #ee48645b;
    --font-color: #ffffff;
    --background-color: #0d0d0d;
    --post-panel-color: #1f1f1f;
    --note-color: #87cefa;
    --warning-color: #ffff00;
    --top-line-strip-color: #e37fcd;

    --footer-background-color: #00000000;
    --footer-link-color: #777;
    
    --scrollbar-track-color: #171717;
    --scrollbar-thumb-color: #242424;
    --scrollbar-thumb-highlight-color: #343434;
    
    --link-transition-time: all 0.7s ease;
    --container-transition-time: all 0.4s ease;
    
    --breakpoint-xs:0;
    --breakpoint-sm:576px;
    --breakpoint-md:768px;
    --breakpoint-lg:992px;
    --breakpoint-xl:1200px;
    --font-family-sans-serif:"Ubuntu", "sans-serif", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-sans-serif-b: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", "monospace";
}

*, ::after, ::before{
    box-sizing: border-box
}

::-moz-selection {
  background: var(--selection-color);
}

::selection {
  background: var(--selection-color);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-highlight-color);
}

html {
    font-family: var(--font-family-sans-serif-b);
    line-height: 1.15;
    -webkit-tap-highlight-color: var(--tap-highlight-color);
    tap-highlight-color: var(--tap-highlight-color);
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;

    font-family: var(--font-family-sans-serif-b);
    color: var(--font-color);
    background: var(--background-color)
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit
}

p{
    margin-top:0;
    margin-bottom:1rem
}

img {
    vertical-align: middle;
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

img + em {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

a {
    color: var(--accent-color);
}

a, a:hover {
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: var(--all-link-highlight-color);
}

.link-fade {
    -webkit-transition: var(--link-transition-time);
    -moz-transition: var(--link-transition-time);
    -ms-transition: var(--link-transition-time);
    -o-transition: var(--link-transition-time);
    transition:  var(--link-transition-time);
}

.no-margin {
  margin: 0 !important;
}

.db {
  display: block;
}


/*** Header & Navbar ***/
.navbar, .navbar-collapse, .navbar-nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navbar {
    align-items: center;
    font-size: 20px;

    background-color: #222;
    border-color: #080808;

    border-top: 3px var(--top-line-strip-color) solid;
    border-bottom: 1px #000000 solid;
}

.navbar-nav {
    flex-wrap: wrap;
    margin-left: auto;
    padding: 0;

    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    list-style:none
}

.navbar-collapse {
    display: block;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    -webkit-box-align: center;
}


.navbar-brand{
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 30px;
    line-height: inherit;
    white-space: nowrap;
    text-decoration: none;
    
    color: var(--font-color) !important;
}

.nav-link{
    display: block;
    padding: .5rem 1rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0.5rem;

    color: var(--nav-link-color);
}

.nav-link:focus, .nav-link:hover, 
.navbar-brand:focus, .navbar-brand:hover {
    text-decoration: none;

    color: var(--nav-link-highlight-color) !important;
}



/*** Main Containers ***/
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
}

.container-content-left, .container-sidebar-right { 
    position: relative;
    max-width: 100%;
    flex: 0 0 100%;
    -webkit-box-flex: 0;
}

.container-content-left {
    margin: 0;
}

.container-sidebar-right {
    margin-top: 2vh;
    margin-left: 2vw;
}

.container-transition{
    -webkit-transition: var(--container-transition-time);
    -moz-transition: var(--container-transition-time);
    -ms-transition: var(--container-transition-time);
    -o-transition: var(--container-transition-time);
    transition:  var(--container-transition-time);
}

.wrapper{
  min-height: 100%;
  position: relative;
}

.content{
  padding-bottom: 250px;
}

.card {
  background-color: var(--post-panel-color);
  box-shadow: 0 0 0 0, 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 20px;
  font-size: 16px;
}


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  padding-top: 50px;
  margin-top: -50px;
}


blockquote {
  color: #bbb;
  font-size: 1em;
}


/*** Footer Stuff ***/
.footer-distributed {
  display: block;
  padding: 10px;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;

  font: normal 16px var(--font-family-sans-serif);
  background-color: var(--footer-background-color);
}

.footer-link {
    font-family: inherit;
    padding: 0 10px !important;

    color: var(--footer-link-color);
}


/*** Posts ***/
h2.post-title {
  padding-top: 10px;
  text-align: left;
}

.post-footer {
  height: 40px;
  display: table;
  width: 100%;
  position: relative;
  margin-top: 32px;
  text-align: center;
}

div.post-meta {
  z-index: 1;
  border-width: 1px 0;
  border-color: #666666;
  border-style: solid;
  margin: 0 0 20px;
}

div.post-meta ul {
  display: inline;
  padding-left: 0;
  float: right;
  margin: 0;
}

div.post-meta ul > li {
  display: inline;
  padding: 0 0 5px 20px;
}

div.post-meta .post-time {
  display: inline;
}

.post-content > table {
  background-color: #333333;
  margin: 0 auto 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.post-content > table tbody {
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.post-content > table th {
  text-transform: uppercase;
  text-align: center;
  padding: .5em .75em;
}

.post-content > table td {
  padding: .5em;
}

table.wide {
  width: 100%;
  max-width: 100%;
}

table.inner-borders {
  border-collapse: collapse;
  border-style: hidden;
}

table.inner-borders td {
  border: 1px solid #5e5e5e;
}

/* Custom classes to apply to block elements
more info: http://pavelmakhov.com/2015/12/images-in-jekyll */
.key {
  font-size: 1.0em;
  box-shadow: 1px 0 1px 0 #555, 0 1px 0 2px #888, 0 2px 0 2px #777;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 2px 3px;
  padding: 0px 5px;
}

.center-image
{
  margin: 0 auto;
  display: block;
}

.filename {
  background-color: #292929;
  color: lightgrey;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin: 0;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  border-left: 0;
  bottom: -2px;
  position: relative;
  padding: 0 0 2px 1em;
}

.filename p {
  margin: 0;
}


/*** Random Stuff ***/
.apple_worm_special {
    line-height: 0 !important;
    margin: 0 !important;
    font: normal 16px var(--font-family-sans-serif);
    float: right !important;
    color: var(--transparent-color) !important;
}

.apple_worm_special:hover {
    color: var(--all-link-highlight-color) !important;
}

.auto-margin {
  margin-left: auto;
  margin-right: auto;
}

.dynamic-margin {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1vw;
}

.container-hidden {
  visibility: hidden;
  position: absolute;
  height: 0;
  width: 0;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition:  none !important;
}

.container-sidebar-left {
  margin-top: 1vh;
  margin-left: 1vw;
}

.container-sidebar-right {
  margin-top: 2vh;
  margin-left: 2vw;
}

@media (min-width: 576px) { 

    /*** Header & Navbar ***/
    .navbar-brand {
        padding-left: 1px;
    }

    .navbar-nav{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-right: 0.5rem;
    }

    .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }

    .nav-link{
        display: block;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        color: var(--nav-link-color);
    }

    /*** Main Containers ***/

    .container-sidebar-right {
        margin-top: 2vh;
        margin-left: 2vw;
    }


    .hpad30p {
        padding-left: 15%;
        padding-right: 15%;
    }
}


@media (min-width: 768px) {

}

@media (min-width: 992px) {

    /*** Header & Navbar ***/
    .navbar-brand {
        padding-left: 1vw;
    }
    
    .navbar-nav {
        margin-right: 1vw;
    }

    /*** Main Containers ***/
    .dynamic-margin {
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .container-content-left, .container-content-right {
        margin-top: 1vh;
    }

    .container-sidebar-right, .container-sidebar-left {
        margin-top: 1vh;
    }

}

@media (min-width: 1200px) {

    /*** Header & Navbar ***/
    .navbar-brand {
        padding-left: 2.5vw;
    }

    .navbar-nav {
        margin-right: 2vw;
    }

    /*** Main Containers ***/
    .container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .container-content-left {
        max-width: 66.6666%;
        flex: 1 0 66.6666%;
    }

    .container-content-right {
        max-width: 66.6666%;
        width: 66.6666%;
        flex: 1 0 66.6666%;
        margin-left: 0 !important;
        margin-right: 2vw !important;
    }

    .container-sidebar-right {
        max-width: 25%;
        width: 25%;
        flex: 1 0 25%;
        margin-left: 0 !important;
    }

    .container-sidebar-left {
        max-width: 22%;
        width: 22%;
        flex: 1 0 22%;
    }

    .dynamic-margin {
        /* margin-left: 2.5vw;
        margin-right: 2.5vw; */
        margin-left: auto;
        margin-right: auto;
    }

    .container-hidden {
        visibility: visible;
        position: relative;
        height: inherit;
        width: inherit;
    }
}

/*!
 * Font Awesome Free 5.0.13 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
svg:not(:root).svg-inline--fa {
  overflow: visible; }

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em; }
  .svg-inline--fa.fa-lg {
    vertical-align: -.225em; }
  .svg-inline--fa.fa-w-1 {
    width: 0.0625em; }
  .svg-inline--fa.fa-w-2 {
    width: 0.125em; }
  .svg-inline--fa.fa-w-3 {
    width: 0.1875em; }
  .svg-inline--fa.fa-w-4 {
    width: 0.25em; }
  .svg-inline--fa.fa-w-5 {
    width: 0.3125em; }
  .svg-inline--fa.fa-w-6 {
    width: 0.375em; }
  .svg-inline--fa.fa-w-7 {
    width: 0.4375em; }
  .svg-inline--fa.fa-w-8 {
    width: 0.5em; }
  .svg-inline--fa.fa-w-9 {
    width: 0.5625em; }
  .svg-inline--fa.fa-w-10 {
    width: 0.625em; }
  .svg-inline--fa.fa-w-11 {
    width: 0.6875em; }
  .svg-inline--fa.fa-w-12 {
    width: 0.75em; }
  .svg-inline--fa.fa-w-13 {
    width: 0.8125em; }
  .svg-inline--fa.fa-w-14 {
    width: 0.875em; }
  .svg-inline--fa.fa-w-15 {
    width: 0.9375em; }
  .svg-inline--fa.fa-w-16 {
    width: 1em; }
  .svg-inline--fa.fa-w-17 {
    width: 1.0625em; }
  .svg-inline--fa.fa-w-18 {
    width: 1.125em; }
  .svg-inline--fa.fa-w-19 {
    width: 1.1875em; }
  .svg-inline--fa.fa-w-20 {
    width: 1.25em; }
  .svg-inline--fa.fa-pull-left {
    margin-right: .3em;
    width: auto; }
  .svg-inline--fa.fa-pull-right {
    margin-left: .3em;
    width: auto; }
  .svg-inline--fa.fa-border {
    height: 1.5em; }
  .svg-inline--fa.fa-li {
    width: 2em; }
  .svg-inline--fa.fa-fw {
    width: 1.25em; }

.fa-layers svg.svg-inline--fa {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0; }

.fa-layers {
  display: inline-block;
  height: 1em;
  position: relative;
  text-align: center;
  vertical-align: -.125em;
  width: 1em; }
  .fa-layers svg.svg-inline--fa {
    -webkit-transform-origin: center center;
            transform-origin: center center; }

.fa-layers-text, .fa-layers-counter {
  display: inline-block;
  position: absolute;
  text-align: center; }

.fa-layers-text {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center center;
          transform-origin: center center; }

.fa-layers-counter {
  background-color: #ff253a;
  border-radius: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  height: 1.5em;
  line-height: 1;
  max-width: 5em;
  min-width: 1.5em;
  overflow: hidden;
  padding: .25em;
  right: 0;
  text-overflow: ellipsis;
  top: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: top right;
          transform-origin: top right; }

.fa-layers-bottom-right {
  bottom: 0;
  right: 0;
  top: auto;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right; }

.fa-layers-bottom-left {
  bottom: 0;
  left: 0;
  right: auto;
  top: auto;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left; }

.fa-layers-top-right {
  right: 0;
  top: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: top right;
          transform-origin: top right; }

.fa-layers-top-left {
  left: 0;
  right: auto;
  top: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: top left;
          transform-origin: top left; }

.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -.0667em; }

.fa-xs {
  font-size: .75em; }

.fa-sm {
  font-size: .875em; }

.fa-1x {
  font-size: 1em; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-6x {
  font-size: 6em; }

.fa-7x {
  font-size: 7em; }

.fa-8x {
  font-size: 8em; }

.fa-9x {
  font-size: 9em; }

.fa-10x {
  font-size: 10em; }

.fa-fw {
  text-align: center;
  width: 1.25em; }

.fa-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit; }

.fa-border {
  border: solid 0.08em #eee;
  border-radius: .1em;
  padding: .2em .25em .15em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left,
.fas.fa-pull-left,
.far.fa-pull-left,
.fal.fa-pull-left,
.fab.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right,
.fas.fa-pull-right,
.far.fa-pull-right,
.fal.fa-pull-right,
.fab.fa-pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
          animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
          animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1); }

.fa-flip-horizontal.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
          filter: none; }

.fa-stack {
  display: inline-block;
  height: 2em;
  position: relative;
  width: 2em; }

.fa-stack-1x,
.fa-stack-2x {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0; }

.svg-inline--fa.fa-stack-1x {
  height: 1em;
  width: 1em; }

.svg-inline--fa.fa-stack-2x {
  height: 2em;
  width: 2em; }

.fa-inverse {
  color: #fff; }

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }
