{{ define "header.html" }}

<head>
    <meta charset="UTF-8">
    <title>{{ .title }}</title>
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png" >
    <meta name="theme-color" content="#222222"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/fa-svg.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
</head>

<nav class="navbar">
    <div class="navbar-collapse nav_pad">
        <a class="navbar-brand container-transition" href="/">
            <img src="/static/favicon.png">
            {{ .title }}
        </a>

        <div class="navbar-nav container-transition">
            <a class="nav-item nav-link link-fade" href="/">/home</a>
            <a class="nav-item nav-link link-fade" href="/">/about</a>
        </div>
    </div>
</nav>

{{ end }}