<!DOCTYPE html>
<html lang="en">

{{ template "header.html" . }}

<body>

  <div class="content container container-center">
    <div class="container-content container-transition auto-margin" style="padding: 0;">
      <div class="card">

        <form action="/api/order" method="post" class="auto-margin">
          <table>

            <tr>
              <td><label for="email">What is your Email?</label></td>
            </tr>

            <tr>
              <td><input type="email" id="email" name="email" placeholder="Email Address" required>
              </td>
            </tr>

            <tr>
              <td>
                <label for="boxsetcount" class="note">
                  How many box sets with cards would you like to order?


                </label>
              </td>
            </tr>
            <tr>
              <td class="note">
                <input type="number" id="boxsetcount" name="boxsetcount" value="1" min="1" max="100" required>
                <code class="language-plaintext highlighter-rouge"> {{ .BoxPrice }}$ per box set</code>
              </td>
            </tr>

            <tr>
              <td>
                <label for="stickercount" class="note">
                  How many
                  <code class="language-plaintext highlighter-rouge">#veryAsian</code>
                  waterproof vinyl stickers would you like to
                  order?
                </label>
              </td>
            </tr>

            <tr>
              <td class="note">
                <input type="number" id="stickercount" name="stickercount" value="1" min="0" max="100" required>

                <code class="language-plaintext highlighter-rouge"> {{ .StickerPrice }}$ per sticker</code>
              </td>
            </tr>

            <tr>
              <td><label for="fullName">What is your First & Last name?</label></td>
            </tr>

            <tr>
              <td><input type="text" id="fullName" name="fullname" required></td>
            </tr>


            <tr>
              <td><label for="paymethod">How would you like to pay?</label></td>
            </tr>

            <tr>
              <td>
                <select id="paymethod" name="paymethod">
                  <option value="cash">Cash</option>
                  <option value="emt">EMT</option>
                  <option value="other">Other</option>
                </select>
              </td>
            </tr>
            <tr id="other_pay_row" style="display:none;">
              <td>
                <label for="otherPay">Please specify:</label>
              </td>
              <td>
                <textarea  type="text" id="otherPay" name="otherpay">
                  </textarea>
              </td>
            </tr>
            <tr>
              <td><label for="deliverymethod">How would you like to get your package?</label>
              </td>
            </tr>

            <tr>
              <td>
                <select id="deliverymethod" name="deliverymethod">
                  <option value="delivery">Delivery</option>
                  <option value="pickup">Pick up</option>
                  <option value="ship">Ship to me (may incur additional costs depending on
                    shipping
                    method)</option>
                  <option value="other">Other</option>
                </select>

              </td>
            </tr>

            <tr id="delivery_address" style="display: none;">
              <td><label for="deliverymethod">Enter the delivery address</label>
              </td>
            </tr>
            <tr id="pickup_address" style="display: none;">
              <td><label for="deliverymethod">Enter the pickup address</label>
              </td>
            </tr>
            <tr id="shipping_address" style="display: none;">
              <td><label >Enter the shipping information</label>
              </td>
            </tr>

            <tr id="address_row" style="display: none;">
              <td>
                <label for="Address">Address:</label>
              </td>
              <td>
                <input type="text" id="Address" name="address">
              </td>
            </tr>

            <tr id="city_row" style="display: none;">
              <td>
                <label for="city">City:</label>
              </td>
              <td>
                <input type="text" id="city" name="city">
              </td>
            </tr>

            <tr id="zipcode_row" style="display: none;">
              <td>
                <label for="zipCode">Zip Code:</label>
              </td>
              <td>
                <input type="text" id="zipCode" name="zipcode">
              </td>
            </tr>

            <tr id="other_row" style="display:none;">
              <td>
                <label for="other">Please specify:</label>
              </td>
              <td>
                <textarea  type="text" id="other" name="otherdelivery">
                  </textarea>
              </td>
            </tr>

            <tr>
              <td colspan="2">
                <button type="submit">Submit Order</button>
              </td>
            </tr>

          </table>
        </form>
      </div>
    </div>
  </div>


  <script>

    function handleDeliveryMethodChange() {
      const selectedValue = document.getElementById('deliverymethod').value;

      const addressInput = document.getElementById("address_row");
      const cityInput    = document.getElementById("city_row");
      const zipcodeInput = document.getElementById("zipcode_row");
      const otherInput   = document.getElementById("other_row");

      for (var j of addressInput.querySelectorAll('input')) {
        j.required = selectedValue !== 'other';
      }
      for (var j of cityInput.querySelectorAll('input')) {
        j.required = selectedValue !== 'other';
      }
      for (var j of zipcodeInput.querySelectorAll('input')) {
        j.required = selectedValue === 'ship';
      }
      for (var j of otherInput.querySelectorAll('textarea')) {
        j.required = selectedValue === 'other';
      }

      if (selectedValue === 'delivery') {
        addressInput.style.display = 'inherit';
        cityInput.style.display = 'inherit';
        zipcodeInput.style.display = 'none';
        otherInput.style.display = 'none';
      } 
      else if (selectedValue === 'ship'){
        addressInput.style.display = 'inherit';
        cityInput.style.display = 'inherit';
        zipcodeInput.style.display = 'inherit';
        otherInput.style.display = 'none';
      }
      else if (selectedValue === 'pickup'){
        addressInput.style.display = 'inherit';
        cityInput.style.display = 'inherit';
        zipcodeInput.style.display = 'none';
        otherInput.style.display = 'none';
      }
      else if (selectedValue === 'other'){
        addressInput.style.display = 'none';
        cityInput.style.display = 'none';
        zipcodeInput.style.display = 'none';
        otherInput.style.display = 'inherit';
      }
    }

    function handlePayMethodChange(){

      const selectedValue = document.getElementById('paymethod').value;

      const otherPay = document.getElementById("other_pay_row");

      for (var j of otherPay.querySelectorAll('textarea')) {
        j.required = selectedValue === 'other';
      }

      if (selectedValue === 'other') {
        otherPay.style.display = 'inherit';
      } else {
        otherPay.style.display = 'none';
      }
    }

    document.getElementById('deliverymethod').addEventListener('change', handleDeliveryMethodChange);
      document.getElementById('paymethod').addEventListener('change', handlePayMethodChange);
    handleDeliveryMethodChange();
    handlePayMethodChange();


  </script>
</body>

</html>