package pages

import (
	"github.com/minnowo/astoryofand/view"
    "github.com/minnowo/astoryofand/view/layout"
)


templ ShowAboutPage() {

    @layout.Page(view.PAGE_TITLE) {

	    <form class="hpad30p">



        </form>

    }
}